

button:hover {
  cursor: pointer;
}

label {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
}

div.form {
  margin: 10px;
  padding: 10px;
  border: 2px solid navy;
  max-width: 1000px;
  border-radius: 6px;
}

input[type="number"] {
  width: 60px;
}

.stagescheme {
  border: 1px solid navy;
  border-radius: 5px;
}
.stagescheme > p {
  margin-left: 10px;
  
}
.stagescheme > p:hover {
  cursor: pointer;
  color: navy;
}

div > div {
  margin: 8px;
}

table {
  border-collapse: collapse;
}

#compdisplay, .tcontainer {
  display: none;
}

#reporttable {
  margin-bottom: 20px;
}

#reporttable th {
  width: 60px;
}
#reporttable th:first-child {
  width: 400px;
}
#reporttable td:nth-child(n+2) {
  text-align: right;
}

.reportcat:hover {
  cursor: pointer;
  color: navy;
}

tr.subcat {
  display: none;
}
tr.subcat td:first-child {
  padding-left: 20px;
}

td.number {
  text-align: right;
}

th.wide, td.wide {
  width: 300px;
}

th.row, td.row {
  width: 155px;
}

td {
  border: 1px solid black;
  padding: 2px 5px;
}

.green {
  background-color: rgb(209, 246, 209);
}
