
label {
  display: inline-block;
  margin-right: 10px;
}

div.form {
  margin: 10px;
  padding: 10px;
  border: 2px solid navy;
  max-width: 350px;
  border-radius: 6px;
}

div > div {
  margin: 8px;
}

table {
  border-collapse: collapse;
}

th.row, td.row {
  width: 130px;
}

td {
  border: 1px solid black;
  padding: 2px 5px;
}

.green {
  background-color: rgb(209, 246, 209);
}

